node-red-practice/calc-nodes.json
[{"id":"40cd7a4e.c7e124","type":"function","z":"4e39aaa2.fb7134","name":"function","func":"//  Program make a simple calculator\n\n//  This function adds two numbers \nvar input = msg;\nvar eq = input.payload.eq;\nvar no1 = input.payload.no1;\nvar no2 = input.payload.no2;\nvar txt = \"\"\n\nif (eq == 'add'){\n    txt = (parseInt(no1) + parseInt(no2)).toString();\n}else if (eq == 'sub'){\n    txt = (parseInt(no1) - parseInt(no2)).toString();\n}else if (eq == 'multi'){\n    txt = (parseInt(no1) * parseInt(no2)).toString();\n}else if (eq == 'div'){\n    txt = (parseInt(no1) / parseInt(no2)).toString();\n}\n\nmsg.payload = txt;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["6a3ac239.8d884c"]]},{"id":"df3dcde.62dd13","type":"http in","z":"4e39aaa2.fb7134","name":"","url":"/post-calculator","method":"post","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["40cd7a4e.c7e124"]]},{"id":"6a3ac239.8d884c","type":"http response","z":"4e39aaa2.fb7134","name":"","statusCode":"","headers":{},"x":670,"y":120,"wires":[]}]